<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div ng-if="messages.error" role="alert" class="alert alert-danger">
        <div ng-repeat="error in messages.error">{{error.msg}}</div>
      </div>
      <div ng-if="messages.success" role="alert" class="alert alert-success">
        <div ng-repeat="success in messages.success">{{success.msg}}</div>
      </div>
      <form ng-submit="submitForm()">
        <div class="card stacked-form">
          <div class="card-header ">
            <h4 class="card-title">{{title}}</h4>
          </div>
          <div class="card-body ">

            <div class="form-group">
              <label>Album Title</label>
              <input required type="text" ng-model="image.title" placeholder="Enter Album Title" class="form-control">
            </div>

            <div class="form-group">
              <label>Album Category</label>
              <input required type="text" ng-model="image.category" placeholder="Enter Album Category" class="form-control" auto-complete="autoCompleteOptions" />
              <span class="loading" ng-show="loading"></span>
            </div>

            <div class="form-group">
              <label>Album Tags(Comma Separated)</label>
              <tags-input required ng-model="image.tags" add-on-paste="true" placeholder="Enter Album Tags">
                <auto-complete source="loadTags($query)"></auto-complete>
              </tags-input>
            </div>

            <div class="form-group">
              <label>Album Description</label>
              <summernote ng-model="image.description"></summernote>
            </div>

            <div class="form-group">
              <label>Album Is in Paid Plan?</label>
              <select class="form-control" ng-model="image.is_paid" required>
                <option value="">Select</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>

            <div class="form-group">
              <div class="spinner"></div>
              <label>Images (Select Multiple)</label>
              <textarea  ng-model="image.free_images" required class="form-control" id="free_image_box"></textarea>
              <input  accept="image/x-png,image/gif,image/jpeg"  type="file" multiple id="free_images" />
            </div>

            <div class="form-group" style="display:none;">
              <div class="spinner"></div>
              <label>Paid Images</label>
              <textarea  ng-model="image.paid_images" class="form-control" id="paid_image_box"></textarea>
              <input accept="image/x-png,image/gif,image/jpeg" type="file" multiple id="paid_images" />
            </div>

          </div>
          <div class="card-footer ">
            <button type="submit" class="is_submit btn btn-fill btn-info">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<script>
  var started = 0;
  var started2 = 0;
  (() => {
    document.getElementById("free_images").onchange = () => {
      const files = document.getElementById('free_images').files;
      const file = files[0];
      if (!files.length) {
        return alert('No file selected.');
      }
      jQuery('#free_images').parent().addClass('is_loading');
      jQuery('.is_submit').attr('disabled', 'disabled');
      for (var i = 0; i < files.length; i++) {
        started++;
        getSignedRequest(files[i], "free_image_box", "free_images");
      }


    };
  })();


  (() => {
    document.getElementById("paid_images").onchange = () => {
      const files = document.getElementById('paid_images').files;
      const file = files[0];
      if (!files.length) {
        return alert('No file selected.');
      }
      jQuery('#paid_images').parent().addClass('is_loading');
      jQuery('.is_submit').attr('disabled', 'disabled');
      for (var i = 0; i < files.length; i++) {
        started2++;
        getSignedRequest(files[i], "paid_image_box", "paid_images");
      }
    };
  })();




  function getSignedRequest(file, elem_id, dd) {
    const xhr = new XMLHttpRequest();
    xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
    xhr.onreadystatechange = () => {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          const response = JSON.parse(xhr.responseText);
          uploadFile(file, response.signedRequest, response.url, elem_id, dd);
        } else {
          if(dd == 'paid_images')
            started2--;
          else {
            started--;
          }
          alert('Could not get signed URL.');
          jQuery('#' + dd).parent().removeClass('is_loading');
          jQuery('.is_submit').removeAttr('disabled');

        }
      }
    };
    xhr.send();
  }

  function uploadFile(file, signedRequest, url, elem_id, dd) {
    const xhr = new XMLHttpRequest();
    xhr.open('PUT', signedRequest);
    xhr.onreadystatechange = () => {
      if (xhr.readyState === 4) {
        if (xhr.status === 200) {
          if(dd == 'paid_images')
            started2--;
          else {
            started--;
          }
          jQuery('#' + elem_id).val(jQuery('#' + elem_id).val() + "\n" + url).change().trigger('input');

        } else {
          if(dd == 'paid_images')
            started2--;
          else {
            started--;
          }
          alert('Could not upload file.');
        }
        if (dd == 'paid_images' && started2 == 0) {
          jQuery('#' + elem_id).val(jQuery('#' + elem_id).val().trim())
          jQuery('#' + dd).parent().removeClass('is_loading');
          jQuery('.is_submit').removeAttr('disabled');
        }

        if (dd != 'paid_images' && started == 0) {
          jQuery('#' + elem_id).val(jQuery('#' + elem_id).val().trim())
          jQuery('#' + dd).parent().removeClass('is_loading');
          jQuery('.is_submit').removeAttr('disabled');
        }
      }
    };
    xhr.send(file);
  }
</script>
