<div class="container-fluid">
 <div class="row">
     <div class="col-md-12">
         <div class="card data-tables">
             <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                 <div class="toolbar">

                 </div>
                 <div class="" ng-if="!show">
                    please wait...
                  </div>
                 <div class="fresh-datatables" ng-if="show">
                     <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                         <thead>
                           <tr>
                             <th>Id</th>
                             <th>Item</th>
                              <th>Invoice Amount</th>
                              <th>Amount Paid</th>
                              <th ng-hide="is_single">Customer Email</th>
                              <th>Paid?</th>
                              <th>Invoice Date</th>
                               <th class="text-right">Actions</th>
                           </tr>
                         </thead>
                         <tfoot>
                             <tr>
                               <th>Id</th>
                               <th>Item</th>
                                <th>Invoice Amount</th>
                                <th>Amount Paid</th>
                                <th ng-hide="is_single">Customer Email</th>
                                <th>Paid?</th>
                                <th>Invoice Date</th>
                                 <th class="text-right">Actions</th>
                             </tr>
                         </tfoot>
                         <tbody>
                             <tr ng-repeat="item in items track by $index">

                               <td>{{item.id}}</td>
                               <td>{{item.lines.data[0].plan.nickname}}</td>
                               <td>{{(item.amount_due/100)}}</td>
                               <td>{{(item.amount_paid/100)}}</td>
                               <td ng-hide="is_single">{{item.customer.email}}</td>

                               <td>{{item.paid ? 'YES':"NO"}}</td>
                                 <td>{{formatted_date(item.date)}}</td>

                                 <td>
                                   <a target='_blank' href="{{item.invoice_pdf}}">Download PDF</a>
                                  </td>
                             </tr>

                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
