doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv: 'Content-Language', content: 'en-us')
    title Thinks Academy
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css')
    link(rel='stylesheet', href='/css/owl.carousel.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.css')

  body.home-01
    #app!= html
    script.
      window.INITIAL_STATE = !{JSON.stringify(initialState)}

    script(src='https://js.stripe.com/v3/')
    script(src='/js/jquery/jquery-2.2.4.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/js/plugins/jquery.superfish.min.js')
    script(src='/js/plugins/jquery.owl.carousel.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.6/jquery.fancybox.min.js')
    script(src='/js/main.js')
    script(src='/js/bundle.js')
