<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="messages.error" role="alert" class="alert alert-danger">
                <div ng-repeat="error in messages.error">{{error.msg}}</div>
            </div>
            <div ng-if="messages.success" role="alert" class="alert alert-success">
                <div ng-repeat="success in messages.success">{{success.msg}}</div>
            </div>
            <form ng-submit="submitForm()">
                <div class="card stacked-form">
                    <div class="card-header ">
                        <h4 class="card-title">{{title}}</h4>
                    </div>
                    <div class="card-body ">

                        <div class="form-group">
                            <label>Video Title</label>
                            <input autofocus required type="text" ng-model="video.title" placeholder="Enter Video Title" class="form-control">
                        </div>



                        <div class="form-group">
                            <label>Video Category</label>
                            <input required type="text" required ng-model="video.category" placeholder="Enter Video Category" class="form-control" auto-complete="autoCompleteOptions" />
                            <span class="loading" ng-show="loading"></span>
                        </div>



                        <div class="form-group">
                            <label>Video Tags(Comma Separated)</label>
                            <tags-input ng-model="video.tags" add-on-paste="true" placeholder="Enter Video Tags">
                                <auto-complete source="loadTags($query)"></auto-complete>
                            </tags-input>
                        </div>


                        <div class="form-group">
                            <label>Video Description</label>
                            <summernote ng-model="video.description"></summernote>
                        </div>


                        <div class="form-group">
                            <label>Video Is in Paid Plan?</label>
                            <select required class="form-control" ng-model="video.is_paid" required>
                                <option value="">Select</option>
                                <option value="yes">Yes</option>
                                <option value="no">No</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <div class="spinner"></div>
                            <label>Upload Video</label>
                            <input accept="video/mp4,video/x-m4v,video/*"
 required type="text" id="video_main_src" ng-model="video.video_url" class="form-control" /><br />
                            <input type="file" id="video_main" />
                        </div>

                        <div class="form-group">
                            <div class="spinner"></div>
                            <label>Upload Video Preview</label>
                            <label>Upload Video</label>
                            <input accept="video/mp4,video/x-m4v,video/*"
 type="text" id="video_preview_src" ng-model="video.short_video_url" class="form-control" /><br />
                            <input type="file" id="video_preview">
                        </div>

                        <div class="form-group">
                            <div class="spinner"></div>
                            <label>Upload Video Thumbnail</label>
                            <input  required type="text" id="thumbnail_url_src" ng-model="video.thumbnail_url" class="form-control" /><br />
                            <input accept="image/x-png,image/gif,image/jpeg" type="file" id="video_thumb">
                        </div>
                    </div>
                    <div class="card-footer ">
                        <button type="submit" class=" is_submit btn btn-fill btn-info">Submit</button>
                    </div>
                </div>
            </form>
        </div>


        <script>
            (() => {
                document.getElementById("video_main").onchange = () => {

                    const files = document.getElementById('video_main').files;
                    const file = files[0];
                    if (file == null) {
                        return alert('No file selected.');
                    }
                    jQuery('#video_main').parent().addClass('is_loading');
                    jQuery('.is_submit').attr('disabled', 'disabled');
                    getSignedRequest(file, "video_main_src", "video_main");
                };
            })();


            (() => {
                document.getElementById("video_preview").onchange = () => {


                    const files = document.getElementById('video_preview').files;
                    const file = files[0];
                    if (file == null) {
                        return alert('No file selected.');
                    }
                    jQuery('#video_preview').parent().addClass('is_loading');
                    jQuery('.is_submit').attr('disabled', 'disabled');
                    getSignedRequest(file, "video_preview_src", "video_preview");
                };
            })();


            (() => {
                document.getElementById("video_thumb").onchange = () => {
                   

                    const files = document.getElementById('video_thumb').files;
                    const file = files[0];
                    if (file == null) {
                        return alert('No file selected.');
                    }
                    jQuery('#video_thumb').parent().addClass('is_loading');
                    jQuery('.is_submit').attr('disabled', 'disabled');
                    getSignedRequest(file, "thumbnail_url_src", "video_thumb");
                };
            })();


            function getSignedRequest(file, elem_id, dd) {
                const xhr = new XMLHttpRequest();
                xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            const response = JSON.parse(xhr.responseText);
                            uploadFile(file, response.signedRequest, response.url, elem_id, dd);
                        } else {
                            alert('Could not get signed URL.');
                            jQuery('#' + dd).parent().removeClass('is_loading');
                            jQuery('.is_submit').removeAttr('disabled');

                        }
                    }
                };
                xhr.send();
            }

            function uploadFile(file, signedRequest, url, elem_id, dd) {
                const xhr = new XMLHttpRequest();
                xhr.open('PUT', signedRequest);
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            jQuery('#' + elem_id).val(url).change().trigger('input');
                            jQuery('#' + dd).parent().removeClass('is_loading');
                            jQuery('.is_submit').removeAttr('disabled');
                        } else {
                            alert('Could not upload file.');
                            jQuery('#' + dd).parent().removeClass('is_loading');
                            jQuery('.is_submit').removeAttr('disabled');
                        }
                    }
                };
                xhr.send(file);
            }
        </script>
    </div>
</div>
