<div class="container-fluid">
 <div class="row">
     <div class="col-md-12">
         <div class="card data-tables">
             <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                 <div class="toolbar">
                     <!--        Here you can write extra buttons/actions for the toolbar              -->
                 </div>
                 <div class="fresh-datatables" ng-if="show">
                     <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                         <thead>
                             <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>View Count</th>
                                <th>Upvotes</th>
                                <th>Downvotes</th>
                                <th>Paid/Free</th>
                                <th>Created At</th>
                                <th>Last Updated At</th>
                                <th class="disabled-sorting text-right">Actions</th>
                             </tr>
                         </thead>
                         <tfoot>
                             <tr>
                               <th>Id</th>
                               <th>Title</th>
                               <th>Category</th>
                               <th>View Count</th>
                               <th>Upvotes</th>
                               <th>Downvotes</th>
                               <th>Paid/Free</th>
                               <th>Created At</th>
                               <th>Last Updated At</th>
                                <th class="text-right">Actions</th>
                             </tr>
                         </tfoot>
                         <tbody>
                             <tr ng-repeat="video in videos track by $index">

                                 <td>{{video.id}}</td>
                                 <td>{{video.title}}</td>
                                 <td>{{video.category}}</td>
                                 <td>{{video.view_count}}</td>
                                 <td>{{video.upvotes}}</td>
                                 <td>{{video.downvotes}}</td>
                                 <td>
                                   <span ng-if="!video.is_paid" class="danger">FREE</span>
                                   <span ng-if="video.is_paid" class="success">PAID</span>
                                 </td>
                                 <td>{{video.created_at | date}}</td>
                                 <td>{{video.updated_at | date}}</td>
                                 <td class="text-right">
                                     <!-- <a href="#" class="btn btn-link btn-info like"><i class="fa fa-heart"></i></a> -->
                                     <a title="Edit Video Item" href="/admin_panel/videos/edit/{{video.id}}" class="btn btn-link btn-warning edit"><i class="fa fa-edit"></i></a>
                                     <a title="Delete Video Item" ng-click="requestToDelete(video.id)" class="btn btn-link btn-danger remove"><i class="fa fa-times"></i></a>
                                 </td>
                             </tr>

                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
