<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <div ng-if="messages.error" role="alert" class="alert alert-danger">
            <div ng-repeat="error in messages.error">{{error.msg}}</div>
          </div>
          <div ng-if="messages.success" role="alert" class="alert alert-success">
            <div ng-repeat="success in messages.success">{{success.msg}}</div>
          </div>
          <form ng-submit="submitForm()">
            <div class="card stacked-form">
                <div class="card-header ">
                    <h4 class="card-title">{{title}}</h4>
                </div>
                <div class="card-body ">

                <div class="form-group">
                    <label>{{ELEMENENT}} Title</label>
                    <input type="text" ng-model="item.title" placeholder="Enter {{ELEMENENT}} Title" class="form-control">
                </div>
                <!-- <div class="form-group">
                    <label>{{ELEMENENT}} Description</label>
                    <textarea type="text" ng-model="item.description" placeholder="Enter {{ELEMENENT}} Description" class="form-control">
                                    </textarea>
                </div> -->

                <div class="form-group">
                    <label>{{ELEMENENT}} Icon (font awesome 5)</label>
                    <input type="text" ng-model="item.icon" placeholder="Enter {{ELEMENENT}} Icon Class" class="form-control" />
                    <small>Use icon classes from here : <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">link to fontawesome icon library</a></small>
                </div>


                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-fill btn-info">Submit</button>
                </div>
            </div>
            </form>
        </div>



    </div>
</div>
