<div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                          <div ng-if="messages.error" role="alert" class="alert alert-danger">
                            <div ng-repeat="error in messages.error">{{error.msg}}</div>
                          </div>
                          <div ng-if="messages.success" role="alert" class="alert alert-success">
                            <div ng-repeat="success in messages.success">{{success.msg}}</div>
                          </div>
                          <form ng-submit="submitForm()">
                            <div class="card stacked-form">
                                <div class="card-header ">
                                    <h4 class="card-title">{{title}}</h4>
                                </div>
                                <div class="card-body ">

                                        <div class="form-group">
                                            <label>FAQ Title</label>
                                            <input type="text" ng-model="faq.title" placeholder="Enter FAQ Title" class="form-control">
                                        </div>

<!--
                                        <div class="form-group">
                                            <label>FAQ Category</label>
                                            <input type="text" ng-model="faq.category" placeholder="Enter FAQ Category" class="form-control">
                                        </div> -->


                                        <div class="form-group">
                                            <label>FAQ Content</label>
                                            <textarea style="height: auto;min-height: 200px;" ng-model="faq.content" placeholder="FAQ Content" class="form-control"></textarea>
                                        </div>


                                </div>
                                <div class="card-footer ">
                                    <button type="submit" class="btn btn-fill btn-info">Submit</button>
                                </div>
                            </div>
                            </form>
                        </div>



                    </div>
                </div>
