<!--  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="/admin_panel/">
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/admin_panel/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/admin_panel/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Thinks Academy Admin Dashboard</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous">
    <link href="/admin_panel/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/admin_panel/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />
    <script>
    function scrolltoTop(){
      window.scroll({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    }
    </script>
  </head>
  <body  ng-app="MyApp">
    <div class="wrapper" ng-if="isAuthenticated()">
      <div class="sidebar" data-color="black" data-image="/admin_panel/img/sidebar-4.jpg"  ng-include src="'partials/header.html'">
      </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-minimize">
                            <button id="minimizeSidebar" class="btn btn-warning btn-fill btn-round btn-icon d-none d-lg-block">
                                <i class="fa fa-ellipsis-v visible-on-sidebar-regular"></i>
                                <i class="fa fa-navicon visible-on-sidebar-mini"></i>
                            </button>
                        </div>
                        <a class="navbar-brand" > Thinks Academy Dashboard </a>
                    </div>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">

                        <ul class="navbar-nav">
                            <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-planet"></i>
                                </a>
                                <ul class="dropdown-menu">

                                  <!-- <a class="dropdown-item" href="/admin_panel/videos/add">Add New Video</a> -->
                                    <!-- <a class="dropdown-item" href="/admin_panel/images/add">Add New Image</a> -->
                                    <a class="dropdown-item" href="/admin_panel/cms_pages/add">Add New Page</a>
                                    <li class="divider"></li>
                                    <a class="dropdown-item" href="/admin_panel/settings/">Manage Settings</a>
                                </ul>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="nc-icon nc-bullet-list-67"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">

                                    <a class="dropdown-item" href="/admin_panel/settings/">
                                        <i class="nc-icon nc-settings-90"></i> Settings
                                    </a>
                                    <div class="divider"></div>

                                    <a ng-controller="HeaderCtrl" ng-click="logout()" class="dropdown-item text-danger">
                                        <i class="nc-icon nc-button-power"></i> Log out
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
          <div class="content"  ng-view>
        </div>
      </div>
    </div>
    <div class="wrapper wrapper-full-page"  ng-if="!isAuthenticated()"  ng-view>
    </div>


    <script src="/admin_panel/js/lib/jquery.3.2.1.min.js"></script>
    <script src="/admin_panel/js/lib/popper.min.js"></script>
    <script src="/admin_panel/js/lib/bootstrap.min.js"></script>
    <script src="/admin_panel/js/lib/angular.js"></script>
    <script src="/admin_panel/js/lib/angular-route.js"></script>
    <script src="/admin_panel/js/lib/satellizer.js"></script>
    <script src="/admin_panel/js/lib/jquery.dataTables.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
    <script src="/admin_panel/js/app.js"></script>
    <script src="/admin_panel/js/lib/light-bootstrap-dashboard.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-summernote/0.8.1/angular-summernote.min.js"></script>
    <script src="/admin_panel/js/lib/sweet-alert.min.js"></script>
    <script src="/admin_panel/js/lib/SweetAlert.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/admin_panel/css/angular-auto-complete.css" />
    <script type="text/javascript" src="/admin_panel/js/lib/angular-auto-complete.js"></script>
    <!-- <link rel="stylesheet" href="//mbenford.github.io/ngTagsInput/css/ng-tags-input.min.css" /> -->
    <!-- <script src="//mbenford.github.io/ngTagsInput/js/ng-tags-input.min.js"></script> -->
    <script src="/admin_panel/js/controllers/header.js"></script>
    <!-- <script src="/admin_panel/js/controllers/VideoCtrl.js"></script> -->
    <!-- <script src="/admin_panel/js/controllers/ImageCtrl.js"></script> -->
    <script src="/admin_panel/js/controllers/CMSPageCtrl.js"></script>
    <script src="/admin_panel/js/controllers/login.js"></script>
    <script src="/admin_panel/js/controllers/FaqCtrl.js"></script>
    <script src="/admin_panel/js/controllers/UserCtrl.js"></script>
    <script src="/admin_panel/js/controllers/PlanCtrl.js"></script>
    <script src="/admin_panel/js/controllers/SettingCtrl.js"></script>


    <script src="/admin_panel/js/controllers/BlogCtrl.js"></script>
    <script src="/admin_panel/js/controllers/CategoryCtrl.js"></script>
    <script src="/admin_panel/js/controllers/SubjectCtrl.js"></script>
    <script src="/admin_panel/js/controllers/TopicCtrl.js"></script>
    <script src="/admin_panel/js/controllers/CourseCtrl.js"></script>
    <script src="/admin_panel/js/controllers/LessonCtrl.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/admin_panel/js/services/contact.js"></script>


    <style>
      a.nav-link {
        display: flex;
        align-items: center;
      }
      a.nav-link p {
        flex: 1;
      }
    </style>
  </body>


</html>
