<div class="sidebar-wrapper"  ng-controller="HeaderCtrl">
    <div class="logo">
    </div>
    <div class="user">
      <div class="photo">
        <img ng-src="{{currentUser.picture || currentUser.gravatar}}" />
      </div>
      <div class="info ">
        <span>{{currentUser.name || currentUser.email || currentUser.id}}
        </span>
      </div>
    </div>
    <ul class="nav">


        <li class="nav-item ">
            <a class="nav-link" href="/admin_panel/">
                <i class="fa fa-chart-line"></i>
                <p>Dashboard</p>
            </a>
        </li>


        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#blog_menu_item">
                <i class="fa fa-rss-square"></i>
                <p>
                    Blog Posts
                    <b class="caret"></b>
                </p>
            </a>
            <div ng-class="{'show' : urlhas('blog-posts') || urlhas('category'),  'collapse': true}"   id="blog_menu_item">
                <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/blog-posts/">
                        <span class="sidebar-mini fa fa-list"></span>
                        <span class="sidebar-normal">List All</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/blog-posts/add">
                        <span class="sidebar-mini fa fa-plus"></span>
                        <span class="sidebar-normal">Add New</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/category/">
                        <span class="sidebar-mini fa fa-plus"></span>
                        <span class="sidebar-normal">Categories</span>
                    </a>
                </li>

                                    <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/category/add">
                        <span class="sidebar-mini fa fa-plus"></span>
                        <span class="sidebar-normal">Add Categories</span>
                    </a>
                </li>
                </ul>
            </div>
        </li>



        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#subjects_menu_item">
                <i class="fas fa-video"></i>
                <p>
                    Subjects
                    <b class="caret"></b>
                </p>
            </a>
            <div ng-class="{'show' : urlhas('subjects'),  'collapse': true}"  id="subjects_menu_item">
                <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/subjects/">
                        <span class="sidebar-mini fa fa-list"> </span>
                        <span class="sidebar-normal">List All</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/subjects/add">
                        <span class="sidebar-mini  fa fa-plus"></span>
                        <span class="sidebar-normal">Add New</span>
                    </a>
                </li>
                </ul>
            </div>
        </li><li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#topics_menu_item">
                <i class="fas fa-video"></i>
                <p>
                    Topics
                    <b class="caret"></b>
                </p>
            </a>
            <div ng-class="{'show' : urlhas('topics'),  'collapse': true}" id="topics_menu_item">
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/admin_panel/topics/">
                            <span class="sidebar-mini fa fa-list"> </span>
                            <span class="sidebar-normal">List All</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/admin_panel/topics/add">
                            <span class="sidebar-mini  fa fa-plus"></span>
                            <span class="sidebar-normal">Add New</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>



        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" data-target="#courses_menu_item">
                <i class="fas fa-video"></i>
                <p>
                    Courses
                    <b class="caret"></b>
                </p>
            </a>
            <div ng-class="{'show' : urlhas('courses'),  'collapse': true}" id="courses_menu_item">
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/admin_panel/courses/">
                            <span class="sidebar-mini fa fa-list"> </span>
                            <span class="sidebar-normal">List All</span>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/admin_panel/courses/add">
                            <span class="sidebar-mini  fa fa-plus"></span>
                            <span class="sidebar-normal">Add New</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>

            <!--

      <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#images_menu_item">
              <i class="fas fa-image"></i>
              <p>
                  Image Albums
                  <b class="caret"></b>
              </p>
          </a>
          <div ng-class="{'show' : urlhas('images'),  'collapse': true}"  id="images_menu_item">
              <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/images/">
                        <span class="sidebar-mini fa fa-list"> </span>
                        <span class="sidebar-normal">List All</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/images/add">
                        <span class="sidebar-mini  fa fa-plus"></span>
                        <span class="sidebar-normal">Add New</span>
                    </a>
                </li>
              </ul>
          </div>
      </li> -->


      <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#cms_pages_menu_item">
              <i class="fas fa-folder-open"></i>
              <p>
                  CMS Pages
                  <b class="caret"></b>
              </p>
          </a>
          <div ng-class="{'show' : urlhas('cms_pages'),  'collapse': true}"  id="cms_pages_menu_item">
              <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/cms_pages/">
                        <span class="sidebar-mini fa fa-list"> </span>
                        <span class="sidebar-normal">List All</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/cms_pages/add">
                        <span class="sidebar-mini  fa fa-plus"></span>
                        <span class="sidebar-normal">Add New</span>
                    </a>
                </li>
              </ul>
          </div>
      </li>


      <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#plans_menu_item">
              <i class="fas fa-folder-open"></i>
              <p>
                  Plans
                  <b class="caret"></b>
              </p>
          </a>
          <div ng-class="{'show' : urlhas('plans'),  'collapse': true}"  id="plans_menu_item">
              <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/plans/">
                        <span class="sidebar-mini fa fa-list"> </span>
                        <span class="sidebar-normal">List All</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/plans/add">
                        <span class="sidebar-mini  fa fa-plus"></span>
                        <span class="sidebar-normal">Add New</span>
                    </a>
                </li>
              </ul>
          </div>
      </li>


      <li class="nav-item">
          <a class="nav-link  " data-toggle="collapse" data-target="#faq_menu_item">
              <i class="fa fa-question-circle"></i>
              <p>
                  FAQs
                  <b class="caret"></b>
              </p>
          </a>
          <div ng-class="{'show' : urlhas('faq'),  'collapse': true}" id="faq_menu_item">
              <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin_panel/faq/">
                        <span class="sidebar-mini fa fa-list"></span>
                        <span class="sidebar-normal">List All</span>
                    </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/faq/add">
                        <span class="sidebar-mini fa fa-plus"></span>
                        <span class="sidebar-normal">Add New</span>
                    </a>
                </li>
              </ul>
          </div>
      </li>

      <li class="nav-item">
          <a class="nav-link" data-toggle="collapse" data-target="#user_menu_item">
              <i class="fa fa-users"></i>
              <p>
                  Users
                  <b class="caret"></b>
              </p>
          </a>
          <div ng-class="{'show' : urlhas('users'),  'collapse': true}"  id="user_menu_item">
              <ul class="nav">
                <li class="nav-item ">
                    <a class="nav-link" href="/admin_panel/users/">
                        <span class="sidebar-mini fa fa-list"></span>
                        <span class="sidebar-normal">List All</span>
                    </a>
                </li>
              </ul>
          </div>
      </li>

      <li class="nav-item ">
          <a class="nav-link" href="/admin_panel/settings/">
              <i class="fa fa-cog"></i>
              <p>Settings</p>
          </a>
      </li>

      <!-- <li class="nav-item ">
          <a class="nav-link" href="/admin_panel/bookings/">
              <i class="fa fa-bookmark"></i>
              <p>Bookings</p>
          </a>
      </li>

      <li class="nav-item ">
          <a class="nav-link" href="/admin_panel/upload_invoices/">
              <i class="fa fa-bookmark"></i>
              <p>Upload Invoices</p>
          </a>
      </li>

      <li class="nav-item ">
          <a class="nav-link" href="/admin_panel/atm_machine_requests/">
              <i class="fa fa-desktop"></i>
              <p>ATM Machine Requests</p>
          </a>
      </li> -->

    </ul>
</div>
