
  <div class="full-page  section-image" data-color="black"  data-image="../../assets/img/full-screen-image-2.jpg" >

              <div class="content">
                  <div class="container">
                      <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                        <div ng-if="messages.error" role="alert" class="alert alert-danger">
                          <div ng-repeat="error in messages.error">{{error.msg}}</div>
                        </div>
                        <div ng-if="messages.success" role="alert" class="alert alert-success">
                          <div ng-repeat="success in messages.success">{{success.msg}}</div>
                        </div>
                          <form class="form"  ng-submit="login()">
                              <div class="card card-login ">
                                  <div class="card-header ">
                                      <h3 class="header text-center">Login</h3>
                                  </div>
                                  <div class="card-body ">
                                      <div class="card-body">
                                          <div class="form-group">
                                              <label>Email address</label>
                                              <input type="email" placeholder="Enter email" ng-model="user.email"    class="form-control">
                                          </div>
                                          <div class="form-group">
                                              <label>Password</label>
                                              <input type="password"   ng-model="user.password"   placeholder="Password" class="form-control">
                                          </div>
                                          <!-- <div class="form-group">
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign"></span>
                                                      Subscribe to newsletter
                                                  </label>
                                              </div>
                                          </div> -->
                                      </div>
                                  </div>
                                  <div class="card-footer ml-auto mr-auto">
                                      <button type="submit" class="btn btn-warning btn-wd">Login</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          <div class="full-page-background" style="background-image: url(/admin_panel/img/full-screen-image-2.jpg) "></div>

        </div>
          <footer class="footer">
           <div class="container">
               <nav>
                   <!-- <ul class="footer-menu">
                       <li>
                           <a href="#">
                               Home
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               Company
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               Portfolio
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               Blog
                           </a>
                       </li>
                   </ul> -->
                   <p class="copyright text-center">
                       &copy;


                   </p>
               </nav>
           </div>
       </footer>
