<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div ng-if="messages.error" role="alert" class="alert alert-danger">
            <div ng-repeat="error in messages.error">{{error.msg}}</div>
            </div>
            <div ng-if="messages.success" role="alert" class="alert alert-success">
            <div ng-repeat="success in messages.success">{{success.msg}}</div>
            </div>
            <form ng-submit="submitForm()">
                <div class="card stacked-form">
                    <div class="card-header ">
                        <h4 class="card-title">{{title}}</h4>
                    </div>
                    <div class="card-body ">

                        <div class="form-group">
                            <label>Plan Title</label>
                            <input type="text" ng-model="plan.title" placeholder="Enter Plan Title" class="form-control">
                        </div>



                        <div class="form-group">
                            <label>Plan - Stripe Id</label>
                            <input type="text" class="form-control" ng-model="plan.gateway_plan_id" />
                        </div>





                        <div class="form-group">
                            <label>Plan Duration</label>
                            <select  ng-model="plan.duration" class="form-control">
                                <option value="">Select</option>
                                <option value="3 days">3 days</option>
                                <option value="5 days">5 days</option>
                                <option value="10 days">10 days</option>
                                <option value="15 days">15 days</option>
                                <option value="30 days">30 days</option>
                                <option value="60 days">60 days</option>
                                <option value="1 Month">1 Month</option>
                                <option value="2 Months">2 Months</option>
                                <option value="3 Months">3 Months</option>
                                <option value="4 Months">4 Months</option>
                                <option value="5 Months">5 Months</option>
                                <option value="6 Months">6 Months</option>
                                <option value="1 Year">1 Year</option>
                                <option value="2 Years">2 Years</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Plan Cost</label>
                            <input step="0.01" type="number" ng-model="plan.cost" placeholder="Enter Plan Cost" class="form-control">

                        </div>

                        <div class="form-group">
                            <label>Plan Max Number of Levels Allowed</label>
                            <input  type="number" ng-model="plan.max_level_count" placeholder="Enter Plan Max Number of Levels Allowed" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Plan Description(<small>Enter 1 feature per line)</small></label>
                            <textarea style="min-height: 100px" class="form-control" ng-model="plan.description"></textarea>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <button type="submit" class="btn btn-fill btn-info">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
