<div class="container-fluid">
 <div class="row">
     <div class="col-md-12">
         <div class="card data-tables">
             <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                 <div class="toolbar">
                     <!--        Here you can write extra buttons/actions for the toolbar              -->
                 </div>
                 <div class="fresh-datatables" ng-if="show">
                     <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                         <thead>
                             <tr>
                                <th>Id</th>
                                <th>Title</th>
                                <th>Duration</th>
                                 <th>Cost</th>
                                 <th>Levels Allowed</th>
                                
                                 <th class="disabled-sorting text-right">Actions</th>
                             </tr>
                         </thead>
                         <tfoot>
                             <tr>
                               <th>Id</th>
                                <th>Title</th>
                                <th>Duration</th>
                                 <th>Cost</th><th>Levels Allowed</th>
                                 <th class="text-right">Actions</th>
                             </tr>
                         </tfoot>
                         <tbody>
                             <tr ng-repeat="faq in plans track by $index">

                                 <td>{{faq.id}}</td>
                                 <td>{{faq.title}}</td>
                                 <td>{{faq.duration}}</td>
                                 <td>{{faq.cost}}</td>

                                <td>{{faq.max_level_count}}</td>
                                 <td class="text-right">
                                     <a title="Edit Plan" href="/admin_panel/plans/edit/{{faq.id}}" class="btn btn-link btn-warning edit"><i class="fa fa-edit"></i></a>
                                     <a title="Delete Plan" ng-click="requestToDelete(faq.id)" class="btn btn-link btn-danger remove"><i class="fa fa-times"></i></a>
                                 </td>
                             </tr>

                         </tbody>
                     </table>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
