<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
          <div ng-if="messages.error" role="alert" class="alert alert-danger">
            <div ng-repeat="error in messages.error">{{error.msg}}</div>
          </div>
          <div ng-if="messages.success" role="alert" class="alert alert-success">
            <div ng-repeat="success in messages.success">{{success.msg}}</div>
          </div>
          <form ng-submit="submitForm()">
            <div class="card stacked-form">
                <div class="card-header ">
                    <h4 class="card-title">{{title}}</h4>
                </div>
                <div class="card-body ">

                <div class="form-group">
                    <label>{{ELEMENENT}} Title</label>
                    <input type="text" ng-model="item.title" placeholder="Enter {{ELEMENENT}} Title" class="form-control">
                </div><div class="form-group">
                    <label>{{ELEMENENT}} Subject</label>
                    <input type="text" ng-model="item.subject" placeholder="Enter {{ELEMENENT}} Subject" class="form-control"
                        auto-complete="autoCompleteOptions">
                    <span class="loading" ng-show="loading"></span>
                </div>



            <div class="form-group">
                <label>{{ELEMENENT}} Topic</label>
                <input type="text" ng-model="item.topic" placeholder="Enter {{ELEMENENT}} Topic" class="form-control" ng-disabled="!item.subject"
                    auto-complete="autoCompleteOptionsTopic">
                <span class="loading" ng-show="loading"></span>
            </div>




            <div class="form-group">
                <label>{{ELEMENENT}} Description</label>
                <textarea type="text" ng-model="item.description" placeholder="Enter {{ELEMENENT}} Description" class="form-control">
                </textarea>
            </div>


            <div class="form-group">
                <label>{{ELEMENENT}} Learnings (1 per line)</label>
                <textarea type="text" ng-model="item.learnings" placeholder="Enter {{ELEMENENT}} Learnings" class="form-control">
                </textarea>
            </div>


            <div class="form-group">
                <label>{{ELEMENENT}} Requirements (1 per line)</label>
                <textarea type="text" ng-model="item.requirements" placeholder="Enter {{Requirements}} Learnings" class="form-control">
                </textarea>
            </div>



            <div class="form-group" ng-if="is_new">
              <label>Featured Image</label>
              <br />
              <span>You will be able to edit the featured image once you save the course.</span>
            </div>
            <div class="form-group" ng-if="!is_new">
              <label>Featured Image</label>
              <div class="input-group mb-3">
                <input type="text" ng-model="item.image_url" readonly required placeholder="Enter Blog Post Title" class="form-control">
                <div class="input-group-append">
                  <button class="btn btn-danger" type="button" ng-click="removeImage()">Remove</button>
                </div>
              </div>
              <br />
              <div>
                <hr ng-if="item.image_url"   />
                <label>Featured Image</label>
                <small>Preffered size of 300x200 px </small>
                <img ng-if="item.image_url && item.image_url!='/img/imgs/placeholder.png'"  style="width:70px"  ng-src="{{'/downloads/'+item.image_url}}" />

                <input accept="image/gif, image/jpeg, image/png" data-id_key="{{item.id}}" id="inv" type="file" name="file" onchange="angular.element(this).scope().uploadedFile(this)" class="btn btn-warning form-control" />
                <span ng-if="file_upload_started">please wait....</span>
                <span ng-if="file_upload_completed">Image uploaded successfully...</span>
                <span ng-if="file_upload_failed">Upload Failed.</span>
              </div>
            </div>



                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-fill btn-info">Submit</button>
                </div>
            </div>
            </form>
        </div>



    </div>
</div>
